<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="col-xs-6">
      <h3>会員一覧画面</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>name</th>
            <th>email</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @end_user.each do |end_user| %>
            <tr>
                <td>
                    <%= end_user.id %>
                </td>
                <td>
                    <%= end_user.last_name %>
                    <%= end_user.first_name %>
                </td>
                <td>
                    <%= end_user.email %>
                </td>
                <td> 
                    <% unless end_user.is_unsubscribed %>
                        <div>有効</div>
                    <% else %>
                        <div>退会済み</div>
                    <% end %>
                </td>
            </tr>
          <% end %>
        </tbody> 
      </table>
    </div>
  </div>
</div>

