<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <h3>商品一覧</h3>
        <div class="col-lg-10">
            <div class="row">
                <% @items.each do |item| %>
                    <div class="col-md-4">
                        <%= link_to public_item_path(item) do %>
                            <div class="image">
                                <%= attachment_image_tag item, :image , fallback: "no_image.jpg", size: "250x180" %>
                            </div>
                            <div>
                                <div>商品名<%= item.name %></div>
                                <div>¥<%= item.price_nontax %></div>
                            </div>
                        <% end %>
                    </div>
                <% end %>  
            </div>
        </div>
    </div>
</div>